.form {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 30vw;
    /* margin: auto; */
    row-gap: 20px;

}

.form__field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 10px 0;
}

input:required:valid {
    border-color: green;
}